version: 1

disable_existing_loggers: False

formatters:
    simple:
        format: "%(asctime)s - %(levelname)s - %(message)s"

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simple
        stream: ext://sys.stdout

    info_file_handler:
        class: logging.handlers.RotatingFileHandler
        level: DEBUG
        formatter: simple
        filename: PTES.log
        maxBytes: 10485760 # 10MB
        backupCount: 20
        encoding: utf8

loggers:
    crAtlasSNPdb_logger:
        level: DEBUG
        handlers: [console, info_file_handler]
        propagate: no

root:
    level: INFO
    handlers: [console, info_file_handler]